.main--costela{
    padding-bottom: 50px;
}
div.listaCostela{
    background-color: #2D2D32;
    padding: 1em;
    width: 80%;
    margin: 2% 10%;
    border-radius: 1em;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.costela{
    font-size:30px;
    align-self: auto;
}
.descricao{
    width: 70%;
    text-align: justify;
    font-size: 16px;
}
.imagem--costela{
    background-image: url(../../../assets/images/costela2.jpg);
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    background-size: cover;
}
.valor{
    justify-content: space-around;
    display: flex;
    align-self: center;
}
.costela2{
    display: grid;
    width: inherit;
    padding-left: 5%;    
}
.add{
    font-size: 25px;
    align-self: center;    
    color: #E0CCB3;
}
.add:hover{
    color: #FDC029;
}
.imagem--costela2{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.addCart{
    font-size: 25px;
    align-self: center;    
    color: #E0CCB3;
    padding-left: 15px;
}