.boxCPF{
    background-color: #2D2D32;
    padding: 1em;
    width: 55%;
    margin: 10% auto;
    border-radius: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    align-self: center;
    display: inline-flex;

}